<div class="row-fluid">
    <div class="span10 offset1">
        <div class="hystrix-buttons">
            <button class="btn btn-large" ng-click="normalRequest();">Normal Response</button>
            <button class="btn btn-large" ng-click="failedRequest();">Failed Response</button>
            <button class="btn btn-large" ng-click="delayedRequest();">Slow Response</button>
        </div>
        <div class="alerts">
            <div class="alert  fade hystrix-alert-large" ng-repeat="alert in alerts" bs-alert="alert"></div>
        </div>
    </div>
</div>